.jumbotron {
	background-image: url('http://4.bp.blogspot.com/-vXnf7GjcXmg/UfJZE9rWc2I/AAAAAAAAGRc/x2CIlHM9IAA/s1600/aphoto49721.jpg');
  	height: 600px;
  	color: #4C4C4C;
}
.darkBG {
	background: #999;
}
.img-responsive.grad {
	margin-bottom: 10px;
}
.navbar {
	z-index: 1;
	margin-bottom: -1px;
    background-color: #f24c09;
}