h1 {
	text-align: center;
	padding-bottom: 25px;
}

.navbar {
	z-index: 1;
	margin-bottom: -1px;
    background-color: #ffffff;
}

.navbar-default {
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}
.navbar-fixed-top {
    color:#ffffff;
    border-radius:0;
}

a {
    background-color: transparent;
    color: #000000;
    margin-left: 18px;
}

.edu {
    margin-bottom: 30px;
}