html, body {
    height: 100%;
}

.jumbotron {
	background-image: url('../img/ggbridge.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  	height: 100%;
    background-attachment: fixed;
    margin-top: -50px;
    color: rgba(0, 0, 0, 0.52);
    margin-bottom: -100px;
    padding-bottom: -100px;
}
.darkBG {
	background: #999;
}

.navbar {
	z-index: 1;
	margin-bottom: -1px;
}

.navbar-fixed-top {
    color:#ffffff;
    border-radius:0;
}

a {
    background-color: transparent;
    color: #ffffff;
    margin-left: 18px;
}

.jumbo-title {
    font-weight: 200;
    float: right;
    margin-top: 40px;
}

#aboutMe {
    color: #ffffff;
    margin-top: 140px;
    text-shadow: 0 0 10px #000, 0 0 10px #000, 0 0 10px #000, 0 0 10px #000;
}